@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightpink;">
</body>
<style>
    h1 {
        padding: 5px;
        text-align: center;
        color: darkgray;
    }

    footer {
        background-color: lightgray;
        padding: 10px;
        text-align: center;
        color: white;
    }

    p {
        padding: 5px;
        text-align: center;
        color: deeppink;
    }

    div {
        padding: 2px;
        text-align: left;
        color: deeppink;
    }
</style>
<H1> Keeping It Cute</H1>
<p> 2424 Cute Ave Joliet IL 60433</p>
<p> (815) 800-2424</p>
<h2 style="text-align:center;">
    <img src="~/images/Hair-Braid-2-e1505241073959-780x500.jpeg" />
</h2>
<h3>Hours</h3>
<div>Monday 8AM-8PM</div>
<div>Tuesday 8AM-8PM</div>
<div> Wednesday 8AM-8PM</div>
<div>Thursday 8AM-8PM</div>
<div>Friday 8AM-8PM</div>
<div>Saturday 8AM-8PM</div>
